* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Catamaran', sans-serif;
    height: auto;
}

.AppContent {
    width: 100%;
    min-height: calc(100vh - 150px);
    overflow: hidden;
}

.containerWrapper {
    padding: 50px 0;
}

.containerWrapper--gray {
    background: #fafafa;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.text-center {
    text-align: center;
}